@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "DM Sans", sans-serif;
  background: linear-gradient(to bottom, #f5efe8, #f6f1e9);
  background-repeat: no-repeat;
  min-height: 100dvh;
}

@theme inline {
  --font-display: "Playfair Display", serif;
  --font-dm-sans: "DM Sans", sans-serif;
  --color-brand: oklch(92.93% 0.02041 74.578);
  --color-dark: oklch(21.261% 0.03243 58.529);
  --color-creamy: oklch(87.564% 0.04062 75.73);
  --color-creamy-text: oklch(54.199% 0.09457 68.451);
  --color-creamy-dark: oklch(23.077% 0.02957 63.208);
  --color-secondary: oklch(95.982% 0.01181 79.687);
}
